@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: rgb(255, 235, 205);
  --text-size: .9rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: rgb(255, 235, 205);
  }
}

body {
  color: rgb(var(#0000));
  background: var(--bg-color);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

header {
  position: sticky;
  top: 0; 
  left: 0; 
  right: 0;
  margin: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  background-color: rgb(255, 235, 205);
  z-index: 99;
}

@media screen and (max-width: 600px) {
  header {
    flex-direction: column;
  }
}

header span {
  font-family: monospace;
  font-size: 2em;
  font-weight: 700;
}

header nav a {
  margin-left: 1rem;
  font-family: monospace;
  font-size: var(--text-size);
}

main {
  position: relative; 
  display: flex; 
  flex-wrap: wrap; 
  justify-content: center; 
  align-items: center;
  margin: 0 1rem;
}

/* Profile Card */

.profile {
  display: grid;
  max-width: max-content;
  grid-template-areas: 
    'img text text'
    'img text text'
  ;
  grid-template-columns: 90px 1fr;
  grid-template-rows: 90px;
  align-items: center;
  justify-items: center;
  border: solid .1rem black;
  padding: 1rem;
  border-radius: 1rem;
  margin: .5rem;
}

.profile img {
  grid-area: img;
}

.profile div {
  grid-area: text;
  margin-top: .5rem;
  font-family: monospace;
  font-size: var(--text-size) ;
}

.profile div span {
  font-size: 1rem;
  font-weight: 700;
}

/* Twitter Card */

.twitter {
  border: solid .1rem black;
  border-radius: 1rem;
  margin: .5rem
}

/* Mode Card */
.mode {
  display: grid;
  grid-template-areas: 
    'icon icon icon'
    'icon icon icon'
    'text text text'
    'time time time'
  ;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1rem;
  place-items: center;
  align-content: center;
  justify-items: center;
  font-family: monospace;
  font-size: var(--text-size);
  margin: .5rem;
  padding: 0 1rem;
}

.mode .mode-icon {
  grid-area: icon;

}

.mode .mode-text {
  grid-area: text;
  font-weight: 700;
  font-size: .95rem;
}

.spotify {
  border: solid .1rem black;
  border-radius: 1rem;
  padding: 1rem 2rem;
  margin: .5rem;
  font-family: sans-serif;
  font-size: var(--text-size);
}

embed {
  border-radius: 1rem;
}